h1{
   background-image: url(./bg2.jpg);
   text-align: center;
    height: 80px;
    width: 1500px;
    color: white;
    position: relative;
    right: 180px;

}
.name{
    background-image: url(./images1.jpg);
    width: 120%;
    height: 200px;
    padding: 10px;
    margin: -6px;
    color: orange;
}

h2{
    color: white;
}
.icon{
    height: 150px;
    width: 250px;
    bottom: 90px;
    border-radius: 25px 25px 25px 25px;
}
img{
    width: 80px;
    position: relative;
    left: 1150px;
    bottom: 190px;
    border-radius: 25px 25px 25px 25px;
}
.pic1{
    position: relative;
    right: 750px;
    bottom: 50px;
   
   
}
.pic2{
    position: relative;
    right: 600px;
    bottom: 50px;
}
.pic3{
    position: relative;
    right: 450px;
    bottom: 200px;
}
.pic4{
    position: relative;
    right: 300px;
    bottom: 190px;
}
.pic5{
    position: relative;
    top: 100px;
    right:180px ;
}
.pic6{
    position: relative;
    top: 100px;
    right: 60px;
}
.col-4{
    position: relative;
    top: 50px;
    
    text-align: center;background-color: rgb(238, 236, 236);
    overflow: hidden;

}
.first{
    
    background-color: white;
    padding: 20px 10px 10px 20px;
    margin: 10px 10px 10px 10px;
    height: 450px;
    border-radius: 10px 10px 10px 10px;
}
.col-4 h2{
    color:rgb(164, 75, 75);
}
.a{
    text-align: center;
}


a{
    font-size: larger;
}
.whatsapp{
    color: rgb(76, 226, 76);
}
.Github{
    color: black;
}
.Email{
    color: rgb(228, 228, 46);
}
footer{
    background-color: #0e0e1d;
    position: relative;
    top: 90px;
}
.fa{
    
    font-size: 12px;
}
footer{
    color: white;
}
.mb-4 .fa{
    color: white;
    size: 20px; 
}